In [1]:
import pandas as pd

In [7]:
table = pd.read_table('杭州区域.txt', header = None)
table.columns = ['raw_data']

In [17]:
table['location'] = table.raw_data.str.extract(r'>([\w]+)</a')

In [23]:
table['url_location'] = table.raw_data.str.extract(r'ershoufang/([\w]+)/')

In [28]:
table[['location', 'url_location']].drop_duplicates().dropna().reset_index()

     index location         url_location
0        0       翠苑              cuiyuan
1        2       古荡               gudang
2        4       黄龙            huanglong
3        5       湖墅               hushu1
4        7       嘉绿                jialv
..     ...      ...                  ...
111    241     江南新城    jiangnanxincheng1
112    242     鹿山新城       lushanxincheng
113    243    银湖科技城       yinhukejicheng
114    244       临安               linan1
115    245   青山湖科技城  qingshanhukejicheng

[116 rows x 3 columns]